<h2 class="title collapse_title">
	<a 
		data-target="#general-content" 
		data-toggle="collapse" 
		aria-expanded="true" 
		aria-controls="general-content"
		>
		<svg class="arrow"><use href="/static/icons/endi.svg#chevron-down"></use></svg>
		<span class="icon status error" title="Ce bloc comporte une erreur">
			<svg><use href="/static/icons/endi.svg#exclamation-triangle"></use></svg>
		</span>
		<span class="icon status success" title="Ce bloc est valide">
			<svg><use href="/static/icons/endi.svg#check"></use></svg>
		</span>
		<span class="icon status neutral" title="Ces informations internes n’apparaissent pas dans le document final">
			<svg><use href="/static/icons/endi.svg#eye-slash"></use></svg>
		</span>
		Informations générales 
		<small>N’apparaissent pas dans le document final</small>
	</a>
</h2>
<div class="collapse_content">
	<div id="general-content" class='content collapse in' aria-expanded="true">
		<form class='form' name='common' action="#" onSubmit="return false;">
			<div class="layout flex two_cols">
				<div>
					<div>
						<div class='name'></div>
					</div>
					{{#if business_type}}
					<div>
						<div class="business_type">
							<div class='form-group'>
								<span class="label">Type d'affaire</span>
								<span class="data">{{business_type.label}}</span>
							</div>
						</div>
					</div>
					{{/if}}
					<div class='input_mode'></div>
					{{#if financial_year}}
					<div>
						<div class='financial_year'></div>
					</div>
					{{/if}}
				</div>
				<div class="status_history hidden-print in_form">
				</div>
			</div>
		</form>
		
	</div>
</div>
