<div id="modalregion"></div>
<div id="resumeregion" class="separate_top"></div>
<div id="main-error-region"></div>
<div class="related-estimation"></div>
<div class="task-edit">
  <div class="general-informations private collapsible in"></div>
  <div id="files"></div>
  <div class="common-informations collapsible in"></div>
  <div class="display-options content_double_padding"></div>
  <div class="composition"></div>
  <div class="notes collapsible"></div>
  <div class="payment-conditions collapsible"></div>
  <div class="payments collapsible"></div>
</div>