<button 
type="button"
class='btn dropdown-toggle {{ css}} icon{{#unless showLabel}} only{{/unless}}' 
title='{{ label }}'
data-toggle="dropdown"                                                    
      aria-haspopup="true"                                                      
      aria-expanded="false" 
>
    <icon></icon>{{#if showLabel }}&nbsp;{{label}}{{/if}}
    <span class="screen-reader-text">{{ label }}</span>
</button>
<ul></ul>