<div class="drop_files_here">
    <form>
        <label style="cursor: pointer;font-size: unset; display: block">
            <input type="file"  style="display: none" multiple />
	        <span class="icon">
                <svg><use href="../static/icons/endi.svg#upload"></use></svg>
            </span>
	        <p>
                Cliquez ou déposez vos justificatifs ici pour les téléverser
            </p>
        </label>
    </form>
</div>
