<td class='col_select action'></td>
<td class='col_text'>
    {{label}} {{#if ref}}({{ref}}){{/if}}
</td>
<td class='col_text'>
    <small>{{{description}}}</small>
</td>
<td class='col_number'>
    {{{amount_label}}}
</td>