<td class='col_text description'>
    {{{ description }}}
</td>
{{#if show_date}}
<td class='col_date date'>{{ date }} </td>
{{/if}}
<td class='col_number'>{{{ amount }}}</td>
<td class='col_actions width_two'>
	<ul>
		<li>
			<button type='button' class='btn icon only edit' title='Modifier' aria-label='Modifier'>
				<svg><use href="/static/icons/endi.svg#pen"></use></svg>
			</button>
		</li>
		{{#if is_not_last}}
		<li>
			<button type='button' class='btn icon only negative delete' title='Supprimer' aria-label='Supprimer'>
				<svg><use href="/static/icons/endi.svg#trash-alt"></use></svg>
			</button>
		</li>
		{{/if}}
	</ul>
</td>
<td class='col_actions row_ordering'>
	<ul>
    {{#if is_not_first }}
    {{#if is_not_last }}
		<li>
			<button type='button' class='btn icon only up' title='Déplacer ce produit vers le haut' aria-label='Déplacer ce produit vers le haut'>
				<svg><use href="/static/icons/endi.svg#arrow-up"></use></svg>
			</button>
		</li>
    {{/if}}
    {{/if}}
    {{#if is_not_last }}
    {{#if is_not_before_last}}
		<li>
			<button type='button' class='btn icon only down' title='Déplacer ce produit vers le bas' aria-label='Déplacer ce produit vers le bas'>
				<svg><use href="/static/icons/endi.svg#arrow-down"></use></svg>
			</button>
		</li>
    {{/if}}
    {{/if}}
	</ul>
</td>
