<section id="work_form" class="size_middle">
    <form>
    <div role="dialog" id="work-forms" aria-modal="true" aria-labelledby="work-forms_title">
        <div class='modal_layout'>
            <header>
                <button class="icon only unstyled close" title="Fermer cette fenêtre" aria-label="Fermer cette fenêtre"  type='button'>
                    <svg><use href="/static/icons/endi.svg#times"></use></svg>
                </button>
                <h2>Ajouter un critère</h2>
            </header>
            <div class="modal_content_layout">
                <input type='hidden' name='parent_id' value='{{parent_id}}' />
                <div class='modal_content'>
                    <div class='message-container'></div>
                    <div class='errors'></div>
                    <fieldset>
                        <div class='field-entity'></div>
                        <div class='field-key'></div>
                    </fieldset>
                </div>
                <footer>
                    <button
                        class='btn btn-primary'
                        type='submit'
                        value='submit'>
                        Valider
                    </button>
                    <button
                        class='btn'
                        type='reset'
                        value='submit'
                        title="Annuler et fermer cette fenêtre">
                        Annuler
                    </button>
                </footer>
            </div>
        </div>
    </div>
    </form>
</section>
